name: Go

on:
  push:
    branches:
      - "main"
jobs:
  pre-release:
    name: "Pre Release"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
          # cache-dependency-path: bin/smartmon_exporter

      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -o bin/smartmon_exporter

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            bin/smartmon_exporter